@using Data
@model HomeViewModel
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="bg-light rounded-3 p-5 mt-3">
            @foreach (ItemOffered item in Model.Items)
            {

                <h5>Listed By: @item.Name</h5>
                <h5>Listed On: @item.DatePosted.ToShortDateString()</h5>
                <h5>Number @item.PhoneNumber</h5>
                <h5>Details:</h5>
                <p>@item.Description</p>
                @if (User.Identity.IsAuthenticated && Model.User.Id==item.UserId)
                {
                    <form method="post" action="/home/delete">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
                }

            }
        </div>

    </div>
</div>
